* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

.carousel-container {
  width: 80vw;
  height: 50rem;
  width: fit-content;
  border: 9px solid brown;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel-image-wrapper {
  width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* white-space: nowrap; */
  /* border: 2px solid orangered; */

  transition: all 0.5s ease;
}

img {
  flex-shrink: 0;
  width: 800px;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.indicators {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 80px;
  font-weight: 800;
  color: white;
  position: absolute;
  bottom: 0;
}
.active-indicator {
  /* color: radial-gradient(#3f87a6, #ebf8e1, #f69d3c); */
  color: red;
  filter: drop-shadow(0 0 0.2rem rgb(20, 252, 240));
}
.nav-button {
  /* padding: 2rem; */
  /* background-color: rgb(37, 231, 245); */
  max-width: 37.8rem;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 3rem;
  border-radius: 50%;
  filter: invert(200%) drop-shadow(1px 1px 4px #400b63);
}
.nav-button.next {
  right: 1rem;
}
.nav-button.prev {
  left: 1rem;
}
